<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="6.1.0" targetFramework="net452" />
  <package id="Awesomium.Windows.Forms.Unofficial" version="1.7.5.0" targetFramework="net452" />
  <package id="Cognitio.ConvNetSharp.Volume" version="0.3.2-alpha" targetFramework="net452" />
  <package id="Cognitio.ConvNetSharp.Volume.GPU" version="0.3.2-alpha" targetFramework="net452" />
  <package id="HtmlAgilityPack" version="1.5.0-beta9" targetFramework="net452" />
  <package id="ManagedCuda-75-Standalone" version="7.5.7" targetFramework="net452" />
  <package id="ManagedCuda-80" version="8.0.22" targetFramework="net452" />
  <package id="ManagedCuda-CudaDNN" version="8.0.22" targetFramework="net452" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net452" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net452" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net452" />
  <package id="System.Net.Http" version="4.3.2" targetFramework="net452" />
</packages>